h1{
    text-align: center;
    color: crimson;
}
div{
    width: 50%;
}
.estatico{
    position: static;
    top: 100px;
    left: 50px;
    border: 3px solid firebrick;
    margin: auto;
}
.relativo{
    position: relative;
    top: 100px;
    left: 50px;
    border: 3px solid firebrick;
    margin: auto;
}
.arreglado{
    position: fixed;
    top: 0px;
    left: 0px;
    border: 3px solid firebrick;
}
.absoluta{
    position: absolute;
    top: 200px;
    left: 100px;
    border: 3px solid firebrick;
    margin: auto;
}